<div class="cart-panel">
	<div class="cart">
		<h4>Your Cart</h4>
		<div id="cart_msg">
			<%= render "cart" %>
		</div>
	</div>

	<h1>Welcome to ThunderCats</h1>
	<div>
		<% @products.each do |product| %>
			<div class="product-bubble">
				<h3><%= product.name %></h3>
				<div class="description">
					<%= product.description %>
				</div>
				<div class="price">
					<%= number_to_currency product.unit_price %>
				</div>
				<div class="more-info">
					SKU: <%= product.sku %><br/>
					Brand: <%= product.brand %><br/>
					Model#: <%= product.model_num %> 
				</div>
				<div>
					Quantity:
					<input type="text" class="quantity" value="1" />
					<button class="add-to-cart-button" 
						data-product-id="<%= product.id %>"
						data-product-name="<%= product.name %>"
						data-unit-price="<%= product.unit_price %>">
						Add to Cart
					</button>
				</div>
			</div>
		<% end %>
	</div>
</div>
